@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', serif;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #6f6f6f;

}

nav h1 {
    color: #717171;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    text-transform: uppercase;
}

.onglets {
    margin-top: 5px;
    margin-left: 300px;
}

.onglets a{
    text-decoration: none;
    color: black;
    margin-right: 10px;
    border-bottom: 1px solid black;
    font-size: 15px;
    padding-bottom: 5px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('https://i.ibb.co/4d8CYtM/background-header.jpg');
    background-size: cover;
    color: white;
    padding: 40px;
}


header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
}

header h4 {
    border-bottom: 1px solid white;
    margin-top: -20px;
    font-size: 20px;
    text-align: center;
}

header button {
    text-transform: uppercase;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    outline: none;
    cursor: pointer;

}

.reseaux-sociaux {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.facebook,
.instagram,
.youtube,
.twitter {
    padding: 5px;
}

.main{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main .content .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom:20px;
}
.main .content .card .left{
   flex: 0 0 30%;
   padding: 20px;
   background-color:black;
   color:#fff;
}
.main .content .card .right img{
    height:300px;
    width: 400px;
    margin-top: 5px;
}

footer {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	align-content: center;
    color: white;
    background-color: rgb(0, 0, 0);
    border-top: 5px solid #6f6f6f;
    padding: 10px 100px;
    margin-top: 60px;
    margin-bottom: -20px;
}

footer .reseaux-sociaux .facebook,
.instagram,
.youtube,
.twitter {
    padding: 5px;
    background-color: #fff;
    border-radius: 15px;
    margin: 10px;
}

#contact {
    font-family: 'Montserrat', serif;
    color: rgb(181, 181, 181);
}


/*  pour renre mon site responisve */
    @media screen and (max-width:680px){
        .reseaux-sociaux {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            align-content: stretch;
        }
        
        .facebook,
        .instagram,
        .youtube {
            padding: 5px;
        }
        
        nav .onglets {
            margin-left: 0px;
            margin-bottom: 20px;
        }
        .main .card {
            margin: 10px;
        }
        .main .content .card .right img{
            height:200px;
            width: 100%;
            margin-top: -0px;
        }
        .main .content .card{
            display: block;
        }
        footer{
            padding: 30px;
        }
    }


   
    /*  <a href="#" class="shiny-btn">Call to action</a> */