@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', serif;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #6f6f6f;

}

nav h1 {
    color: #717171;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    text-transform: uppercase;
}

.onglets {
    margin-top: 5px;
    margin-left: 300px;
}

.onglets a{
    text-decoration: none;
    color: black;
    margin-right: 10px;
    border-bottom: 1px solid black;
    font-size: 15px;
    padding-bottom: 5px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('https://i.ibb.co/4d8CYtM/background-header.jpg');
    background-size: cover;
    color: white;
    padding: 40px;
}


header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
}

header h4 {
    border-bottom: 1px solid white;
    margin-top: -20px;
    font-size: 20px;
    text-align: center;
}

header button {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  
    text-transform: uppercase;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    outline: none;
    cursor: pointer;

}

.reseaux-sociaux {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.main{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main .content .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom:20px;
}
.main .content .card .left{
   flex: 0 0 30%;
   padding: 20px;
   background-color:black;
   color:#fff;
}
.main .content .card .right img{
    height:300px;
    width: 400px;
    margin-top: 5px;
}

footer {
    color: white;
    background-color: black;
    border-top: 5px solid #6f6f6f;
    padding: 30px 100px;
    margin-top: 60px;
}


.facebook,
.instagram,
.youtube {
    padding: 5px;
}


#contact {
    font-family: 'Montserrat', serif;
    color: rgb(181, 181, 181);
}

/*  pour renre mon site responisve
    @media screen and (max-width:680px){
        nav .onglets {
            margin-left: 0px;
            margin-bottom: 20px;
        }
        .main .card {
            margin: 10px;
        }
        .main .content .card .right img{
            height:200px;
            width: 100%;
            margin-top: -0px;
        }
        .main .content .card{
            display: block;
        }
        footer{
            padding: 30px;
        }
    }
*/