* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(255, 197, 89);
}

h1 {
    text-align: center;
    letter-spacing: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
}