body {
    font-family: Arial, sans-serif;
  }
  
header{
  margin-bottom: 55px;
}
header h1{
  text-align: center;
  letter-spacing: 4.5px;
}
  
main {
  display: flex;
  align-items: self-start;
  justify-content: center;
  flex-direction: column;
}
#cmd-div{
  margin-bottom: 38px;
}
#cmd {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  color:#f8f8f2;
  background-color:#272822;
  padding: 12px 17px;
  width: 400px;
  border-radius: 6px;
}