* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    box-shadow: 1px 1px 12px #555;
    background: #353c4e;
}
header h1{
    font-family: 'Roboto:300',arial,sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: white;
    padding: 10px;
}
main {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    align-items: center;
}
.sub-title {
    margin-top: 100px;
    font-family: 'Courier New', Courier, monospace;
}
.inp {
    width: 75%;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
}
textarea{
    border: 0;
    outline: 0;
    height: 150px;
    width: 400px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 35%);
    border: 0;
    outline: 0;
    padding: 20px 10px;
    resize: none;
}

#dec {
    box-shadow: 0 2px 8px rgb(0 0 0 / 35%);
    border: 0;
    outline: 0;
    width: 100px;
    height: 45px;
}
#dec:hover {
    cursor: pointer;
}
.div-dec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
option {
    color: black;
}
.div-btn{
    margin-top: 20px;
}
input[type='button']{
    text-decoration: none;
    border: none;
    padding: 5px 10px;
    background-color: #353c4e;
    color: whitesmoke;
    width: 125px;
    text-align: center;
    text-transform: uppercase;
    height: 40px;
    margin: 10px;
}
input[type='button']:hover{
    cursor: pointer;
    background-color: #424a5f;
}